* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT COLORS */

:root {
  --bg-primary: #080f1b;
  --bg-secondary: #0d1725;
  --bg-tertiary: #172334;

  --bg-message: #192536;
  --bg-message-hover: #1e2b3e;
  --bg-active: #192638;
  --bg-icon: #252f52;

  --border-color: #1d2a3b;
  --border-light: #263448;

  --text-primary: #e8ecf5;
  --text-secondary: #c0c7d3;
  --text-muted: #8994a5;
  --text-light-muted: #687589;

  --purple: #5545d5;
  --purple-hover: #6656e6;
  --purple-dark: #5545c7;

  --danger: #d95762;
}

/* BODY */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  min-height: 100vh;
}

button,
input,
textarea {
  font: inherit;
}

.dark-mode {
  --bg-primary: #f5f7fb;
  --bg-secondary: #ffffff;
  --bg-tertiary: #f0f2f7;

  --bg-message: #f1f3f7;
  --bg-message-hover: #e8ebf2;
  --bg-active: #eef0ff;
  --bg-icon: #e8eaff;
  --text-primary: #202534;
  --text-secondary: #4f5667;
  --text-muted: #737b8c;
  --text-light-muted: #9aa2b1;
  --border-color: #e1e5ec;
  --border-light: #d6dbe5;
  --purple: #5545d5;
  --purple-hover: #6656e6;
  --purple-dark: #5143c4;
}

/* MAIN APP */

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 14px;
  gap: 16px;
  background: var(--bg-primary);
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  min-width: 240px;
  height: calc(100vh - 28px);

  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

/* LOGO */

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px 18px;
}

.brand img {
  width: 45px;
  border-radius: 20px;
}

.brand-icon {
  width: 42px;
  height: 42px;

  border-radius: 12px;
  background: var(--bg-icon);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
}

.brand h1 {
  font-size: 18px;
  margin-bottom: 4px;
}

.brand p {
  color: var(--text-muted);
  font-size: 12px;
}

/* NEW CHAT */

.new-chat {
  margin: 0 14px 20px;
  padding: 13px;

  border: none;
  border-radius: 9px;

  background: var(--purple);
  color: white;

  cursor: pointer;
  font-size: 14px;

  transition: 0.2s;
}

.new-chat:hover {
  background: var(--purple-hover);
}

/* CHAT HISTORY */

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 0 12px;
}

.section-title {
  font-size: 13px;
  color: var(--text-muted);
  padding: 0 6px 12px;
}

.day {
  color: var(--text-light-muted);
  font-size: 11px;
  padding: 10px 6px 8px;
}

.chat-item {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 9px;
  padding: 11px 8px;

  border-radius: 7px;

  color: var(--text-secondary);
  font-size: 12px;

  margin-bottom: 3px;

  cursor: pointer;
}

.chat-item:hover {
  background: var(--bg-message-hover);
}

.chat-item.active {
  background: var(--bg-active);
  color: var(--text-primary);
}

.chat-icon {
  font-size: 12px;
  color: var(--text-muted);
}

.chat-title {
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-time {
  font-size: 10px;
  color: var(--text-light-muted);
  white-space: nowrap;
}

/* CLEAR */

.clear-div {
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}
.clear-div svg {
  fill: var(--text-primary);
}
.clear-div svg:hover {
  fill: var(--danger);
}

.clear {
  padding: 20px 8px;

  color: var(--danger);
  font-size: 14px;

  border-top: 1px solid var(--border-color);
}

/* CHAT AREA */

.chat-container {
  flex: 1;
  min-width: 0;

  height: calc(100vh - 28px);

  background: var(--bg-secondary);

  border: 1px solid var(--border-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

/* CHAT HEADER */

.chat-header {
  height: 64px;
  min-height: 64px;

  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--border-color);
}

.chat-header h2 {
  font-size: 15px;
  font-weight: 500;
}

.clear-dark {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dark .svg-dark {
  fill: var(--text-primary);
  cursor: pointer;
  /* display: none; */
}
.svg-light {
  fill: var(--text-primary);
  display: block;
  cursor: pointer;
}

.clear-chat {
  border: none;
  background: none;

  color: var(--text-muted);

  cursor: pointer;
  font-size: 14px;

  padding-left: 10px;
}

.clear-chat:hover {
  color: var(--danger);
}

/* MESSAGES */

.messages {
  flex: 1;

  overflow-y: auto;

  padding: 28px 26px;
}

.message {
  display: flex;

  gap: 12px;
  margin-bottom: 28px;
}

.message.user {
  justify-content: flex-end;
}

/* AI AVATAR */

.avatar {
  width: 38px;
  height: 38px;
  min-width: 38px;

  border-radius: 50%;

  background: var(--bg-icon);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

/* MESSAGE BUBBLE */

.bubble {
  max-width: 500px;

  padding: 12px 14px;

  border-radius: 9px;

  background: var(--bg-message);
  color: var(--text-primary);

  font-size: 14px;
  line-height: 1.5;
}

.user .bubble {
  background: var(--purple-dark);
  color: white;

  border-radius: 10px 10px 3px 10px;

  max-width: 300px;
}

/* MESSAGE TIME */

.message-time {
  display: flex;
  justify-content: flex-end;
  margin-top: 7px;
  font-size: 10px;
  color: var(--text-light-muted);
}

.user .message-time {
  color: white;
}

.bubble ul {
  margin: 8px 0 0 17px;
}

.bubble li {
  margin: 2px 0;
}

/* MESSAGE INPUT*/

.input-area {
  padding: 10px 14px 12px;

  border-top: 1px solid var(--border-color);
}

.input-box {
  min-height: 78px;

  border: 1px solid var(--border-light);
  border-radius: 9px;

  background: var(--bg-tertiary);

  position: relative;

  padding: 12px 12px 40px;
}

.input-box textarea {
  width: 100%;
  height: 28px;

  resize: none;

  border: none;
  outline: none;

  background: transparent;

  color: var(--text-primary);

  font-size: 16px;
}

.input-box textarea::placeholder {
  color: var(--text-light-muted);
  font-size: 15px;
}

/* INPUT ACTIONS */

.input-actions {
  position: absolute;

  left: 10px;
  bottom: 7px;

  display: flex;

  gap: 12px;
}

.input-actions button {
  background: none;
  border: none;

  color: var(--text-muted);

  cursor: pointer;

  font-size: 16px;
}

/* SEND */

.send {
  position: absolute;

  right: 10px;
  bottom: 7px;

  border: none;
  border-radius: 7px;

  background: var(--purple);

  color: var(--text-primary);

  padding: 8px 13px;

  cursor: pointer;

  font-size: 12px;
}

.send:hover {
  background: var(--purple-hover);
}

/* DISCLAIMER */

.disclaimer {
  text-align: center;
  font-size: 12px;
  color: var(--text-light-muted);
  margin-top: 10px;
}

/* MOBILE MENU */

#menu-toggle {
  display: none;
}

.mobile-header {
  display: none;
}

/* TABLET */

@media (max-width: 850px) {
  .sidebar {
    width: 210px;
    min-width: 210px;
  }

  .messages {
    padding: 25px 18px;
  }

  .bubble {
    max-width: 75%;
  }
}

/* MOBILE */

@media (max-width: 650px) {
  .app {
    padding: 0;
    display: block;
  }

  /* Mobile header */

  .mobile-header {
    height: 60px;

    background: var(--bg-secondary);

    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 20;
  }

  .mobile-title {
    font-size: 16px;
    font-weight: 600;
  }

  /* Hamburger */

  .hamburger {
    width: 38px;
    height: 38px;
    border-radius: 7px;
    background: var(--bg-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger span {
    width: 20px;
    height: 2px;
    background: var(--text-primary);
    transition: 0.3s;
  }

  /* Sidebar */

  .sidebar {
    position: fixed;
    z-index: 15;
    top: 60px;
    left: -260px;
    width: 250px;
    min-width: 250px;
    height: calc(100vh - 60px);
    border-radius: 0;
    transition: left 0.3s ease;
  }

  /* Open sidebar */

  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }

  /* Hamburger animation */

  #menu-toggle:checked ~ .mobile-header .hamburger span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  #menu-toggle:checked ~ .mobile-header .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked ~ .mobile-header .hamburger span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  /* Chat */

  .chat-container {
    width: 100%;

    height: 100vh;

    border: none;
    border-radius: 0;

    padding-top: 60px;
  }

  /* Chat header */

  .chat-header {
    height: 55px;
    min-height: 55px;

    padding: 0 16px;
  }

  .chat-header h2 {
    font-size: 14px;
  }

  .clear-chat {
    font-size: 11px;
  }

  /* Messages */

  .messages {
    padding: 20px 14px;
  }

  .message {
    margin-bottom: 22px;
    gap: 8px;
  }

  /* Avatar */

  .avatar {
    width: 32px;
    min-width: 32px;
    height: 32px;

    font-size: 15px;
  }

  /* Bubble */

  .bubble {
    max-width: calc(100vw - 75px);
  }

  .user .bubble {
    max-width: 75%;
  }

  /* Input */

  .input-area {
    padding: 8px;
  }

  .input-box {
    min-height: 70px;
  }
}

/* SMALL  */

@media (max-width: 400px) {
  .brand {
    padding: 18px 14px;
  }

  .new-chat {
    margin-left: 10px;
    margin-right: 10px;
  }

  .chat-header {
    padding: 0 12px;
  }

  .messages {
    padding: 15px 10px;
  }

  .bubble {
    font-size: 13px;
    padding: 10px 11px;
  }

  .user .bubble {
    max-width: 82%;
  }

  .send {
    padding: 7px 10px;
  }
}
